<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    {% if name %}
        <h1>Hello {{name}}</h1>
    {% else %}
        <h1>Hello World</h1>
    {% endif %}
</body>
</html>

<!-- میشه موتور تمپلیت جنگو رو با موتور تمپلیت مورد نظر و پیشنهادی خودمون جایگزین کنیم  -->
<!-- این روزها از جنگو برای ساخت ای پی آی استفاده میشه که داده برمیگردونن و کمتر برای نشون دادن تمپلیت از اون استفاده میکنن -->


